.country-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 1rem;
  margin: 1rem;
  cursor: pointer;
}

.w-48 {
  width: 12rem;
}

ul li {
  list-style: none;
}

.bg-green {
  background-color: #9fad9f;
}
