* {
  margin: 0;
  padding: 0;
}

.main-container ul {
  border: 2px solid #ccc;
  padding: 0.7rem;
  margin: 1rem;
  list-style: none;
}

h2 {
  text-align: center;
  font-size: 1.7rem;
  font-weight: bolder;
}

h3 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.li-2 {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
}

.li-2.span-2 {
  flex: 1 1 0;
}

.li-2 .span-1 {
  font-weight: bolder;
  font-family: monospace;
  font-size: 1rem;
}

.text-green {
  color: rgb(110, 153, 110);
}

.text-red {
  color: red;
}

.text-bold {
  font-weight: bold;
}
